#profile{
    height: 100%;
    color: white;
    margin-left: 150px;
    margin-right: 150px;
    background-color: #1d1d1d;
    padding-top: 50px;

}

#dbprofilepage{
    
    height: 100%;
    
}

img{
    height: 500px;
    width: 500px;
    vertical-align: top;
    margin-left: 20px;
    margin-bottom: 50px;
}