<div id="profile">
    <div *ngFor="let x of figureData_img">
        <img src="{{x}}" alt="figure_picture">  
    </div>

    <div *ngFor="let x of figureData">
        <p><strong>Name:</strong> {{x['name']}}</p>
        <p><strong>Release Date: </strong> {{x['releasedate']}}</p>
        <p><strong>Announce Date:</strong> {{x['announcedate']}}</p>
        <p><strong>Brand:</strong> {{x['brand']}}</p>
        <p><strong>Series:</strong> {{x['series']}}</p>
        <p><strong>Number:</strong> {{x['number']}}</p>
        <p><strong>Manufacturer:</strong> {{x['manufacturer']}}</p>
        <p><strong>Distributor:</strong> {{x['distributor']}}</p>
        <p><strong>Release Price:</strong>{{x['currencytype']}} {{x['releaseprice']}}</p>
        <p><strong>Notes:</strong> {{x['notes']}}</p>
        <div *ngIf="sessionData.usertype == 2">
            <a [routerLink]="['/db_edit', x._id]" >Edit</a>
        </div>
        <a [routerLink]="['/index']">Back</a>
      </div>
</div>


