#profile{
    height: 100vh;
    color: white;
    margin-left: 150px;
    margin-right: 150px;
    background-color: #1d1d1d;
    padding-top: 50px;
    box-sizing: border-box;
}

#dbprofilepage{
    height: 100vh;
}

.profile_info{
    width: 250px;
    vertical-align: top;
    display: inline-block;
}

.profile_img{
    width: 350px;
    vertical-align: top;
    display: inline-block;
}

img{
    height: 300px;
    width: 300px;
    /* margin-left: 10px; */
    margin-bottom: 20px;
}