form{
    text-align:left;
    display:inline-block;
}

.input-section{
    width: 500px;
    height: 20px;
   
}

#input-div{
    padding-top: 50px;
}

#photo-manage{
    vertical-align: top;
    display: inline-block;
}