<div id="userinfo">
        <p>Welcome back, {{sessionData.username}}</p>       
</div>

<div id="display_all">
    <div id="listing_watchlist" class="collection_list">
    <p>Your Listing Watchlist</p>
    <p>Cats Cats Cats Cats Cats Cats Cats Cats Cats Cats Cats Cats Cats Cats Cats Cats Cats Cats Cats Cats Cats Cats Cats Cats Cats Cats Cats Cats Cats Cats Cats Cats Cats Cats Cats Cats Cats Cats Cats Cats Cats Cats Cats Cats Cats Cats Cats Cats Cats Cats Cats Cats Cats Cats Cats Cats Cats Cats Cats Cats</p>
    </div>  

    <div id="user_ownlisting" class="collection_list">
    <p>Your created Listings</p>
    </div>

    <div id="liked_collections" class="collection_list">
    <p>Your liked Collections</p>
    </div>

    <div id="user_collections" class="collection_list">
    <p>Your created Collections</p>
    </div>
</div>

