form{
    text-align:left;
    display:inline-block;
}

.input-section{
    width: 500px;
    height: 20px;
}

#helpful-tips{
    vertical-align: top;
    display: inline-block;
    height: 300px;
    width: 300px;
    
}

#input-div{
    display: inline-block;
}

