<div>

</div>
<div>
    <h3>Add a new figure to database</h3>
    <form autocomplete="off">
        <p>Name</p>
        <input class="input-section" type="text" name="" autocomplete=""/><br>
        <p>Release Date</p>
        <input class="input-section" type="date" name="" autocomplete="" /><br>
        <p>Announce Date</p>
        <input class="input-section" type="date" name="" autocomplete="" /><br>
        <p>Brand</p>
        <input class="input-section" type="text" name="" autocomplete="" /><br>
        <p>Series</p>
        <input class="input-section" type="text" name="" autocomplete="" /><br>
        <p>Number</p>
        <input class="input-section" type="number" name="" autocomplete=""/><br>
        <p>Manufacturer</p>
        <input class="input-section" type="text" name="" autocomplete="" /><br>
        <p>Distributor</p>
        <input class="input-section" type="text" name="" autocomplete="" /><br>
        <p>Release Price</p>
        <input class="input-section" type="text" name="" autocomplete="" /><br>
        <p>Currency</p>
        <input class="input-section" type="text" name="" autocomplete="" /><br>
        <p>Notes</p>
        <input class="input-section" type="text" name="" autocomplete=""/><br>
        <p>Upload Picture</p>
        <input type="file" name="pic" accept="image/*"><br>
        <input class="submit-button" type="submit">
    </form>
</div>