form{
    text-align:center;
    display:inline-block;   
}

#register_div{
    background-image: url("../../assets/figure-hatsune-miku-trick-or-miku-vocaloid-figure-primary.jpg");
    height: 100vh;
    width: auto 100vw;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.input-section{
    width: 500px;
    height: 20px;
}

.register_form{
    display: inline-block;
    vertical-align: middle;
    background-color: #1d1d1d;
    color: white;
    margin-top: 100px;
    margin-bottom: 160px;
    padding: 20px;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

