<div id="navbar">
  <ul>
    <li><a [routerLink]="['']">Nyaa Swapmeet</a></li>
    <li><a [routerLink]="['index']">Database</a></li>
    <li><a [routerLink]="['listings']">Listings</a></li>
    
    <li *ngIf="!sessioncheck" class="dropdown">
        <a [routerLink]="['register']" class="dropbtn">Login/Register</a>
        <div class="dropdown-content">
          <a [routerLink]="['login']">Login</a>
          <a [routerLink]="['register']">Register</a>
        </div>
    </li>
    <li *ngIf="sessioncheck" class="dropdown">
        <a [routerLink]="['dashboard']" class="dropbtn">Welcome, {{sessionData.username}}!</a>
        <div *ngIf="sessionData.usertype == 2" class="dropdown-content">
          <a [routerLink]="['dashboard']">Dashboard</a>
          <a [routerLink]="['databaseadd']">Add to Database</a>  
          <a (click)="logout()">Log Out</a>
        </div>
        <div *ngIf="sessionData.usertype != 2" class="dropdown-content">
            <a [routerLink]="['dashboard']">Dashboard</a>  
            <a (click)="logout()">Log Out</a>
          </div>
    </li>
  </ul>
</div>

<div id="main_component">
  <router-outlet></router-outlet>
</div>
