form{
    text-align:center;
    display:inline-block;   
}

#login-div{
    height: 100vh;
    width: auto 100vw;
    text-align: center;
    background-image: url("../../assets/figure-hatsune-miku-trick-or-miku-vocaloid-figure-primary.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.input-section{
    width: 400px;
    height: 20px;
}

#login_form{
    display: inline-block;
    vertical-align: middle;
    background-color: #1d1d1d;
    color: white;
    margin-top: 200px;
    margin-bottom: 200px;
    padding: 20px;
    margin-left: 34%;
    margin-right: 34%;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#login_tip{
    color: white;
}