#home_background {
    background-image: url("../../assets/figure-hatsune-miku-trick-or-miku-vocaloid-figure-primary.jpg");
    background-color: #3d3d3d;
    height: 100vh;
    width: auto 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    text-align: center;
}

#introtext{
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    margin-top: 34vh;
    margin-bottom: 31vh;
    margin-right: 35%;
    margin-left: 35%;
    /* opacity: 1 !important; */
}

#introtext h1 {
    font-size: 65px;
    color: white;
    margin: 5px 5px 5px 5px;
    font-family: Arial, Helvetica, sans-serif;
}

#introtext h2 {
    font-size: 30px;
    color: white;
    margin: 5px 5px 5px 5px;
    /* font-family:  */
}

button {
    font-size: 20px;
    color: white;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 30px;
    margin: 5px 5px 5px 5px;
}

