<div id="indexdiv">
  <div id="indexdiv2">
      <div class="titlediv">
          <h3>Figure Database</h3>
      </div>

      <div class="datadiv">
        <div class="searchoptions">
          <input class="searchinput" type="text" placeholder="Figure Type"> //PLACEHOLDER FOR DROPDOWN
          <input class="searchinput" type="text" placeholder="Manufacturer"> //PLACEHOLDER FOR DROPDOWN
          <input class="searchinput" type="text" placeholder="Release Year"> //PLACEHOLDER FOR DROPDOWN
          <input class="searchinput" type="text" placeholder="Price"> //PLACEHOLDER FOR DROPDOWN
          <!-- <input class="searchinputsubmit" type="submit"> -->
        </div>
        <div class="info" *ngFor="let x of figureData">
          <a [routerLink]="['/db_profile', x._id]" >{{x['name']}}</a>
        </div>
      </div>

  </div>  
  <div class="legal">

  </div>
</div>