.info{
    width: 150px;
    height: 150px;
    border: 1px solid black;
    border-radius: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    text-align: center;
    vertical-align: top;
    display: inline-block;
}

#indexdiv{
    color: white;
}

#indexdiv2{
    height: 95%;
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
    background-color: #1d1d1d;
}

.titlediv{
    text-align: center;
    padding: 10px 10px 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.searchoptions{
    padding-top: 20px;
    padding-bottom: 40px;
    padding-right: 20px;
    padding-left: 20px;
}

.searchinput{
    width: 150px;
    height: 20px;
}

.datadiv{
    box-shadow: 0 0 5px 2px black;
    border-radius: 20px;
    background-color: #3d3d3d;
    padding-bottom: 20px;
}

.legal{
    height: 50px;

}